.consultation{
    min-height: 680px;
    background: url(../img/bg3-min.jpg) center center/cover no-repeat;
    padding: 100px 0 92px 0;
    &__descr{
        margin-top: 80px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
        color: #ffffff;
    }
}